.SignUp {
  width: 400px;
  height: 500px;

  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin: auto;
  margin-top: 70px;
}

.input_box {
  width: 300px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_box h4 {
  margin-bottom: 5px;
}

.input_box input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  padding: 5px;
  margin-bottom: 5px;
}

.input_box button {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(36, 206, 36);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
