.editor_wrapper {
  display: flex;
  gap: 10px;
}

.TodoEditor input {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid powderblue;
  border-radius: 5px;
  padding: 15px;
}

.TodoEditor input:focus {
  outline: none;
  border: 1px solid blue;
}

.TodoEditor button {
  cursor: pointer;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
}
