h1:not(#interval) {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 20px;
}

#grid ul {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0px;
  padding: 20px;
  padding-left: 30px;
}

#grid {
  display: grid;
  grid-template-columns: 170px 1fr;
}

@media (max-width: 660px) {
  #grid {
    display: block;
  }
  #grid ul {
    border-right: none;
  }
  h1:not(#interval) {
    border-bottom: none;
    font-size: 30px;
  }
}

#interval {
  word-spacing: 20px;
  text-align: center;
}

a {
  word-spacing: 0px;
  text-decoration-line: none;
}

#img {
  text-align: center;
}

li {
  margin: 7px;
}
